/* div {
    border: solid;
    border-width: thin;
} */

#mainContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
}

#mainContainer * {
    background-color: white;
}

#historyContainer,
#calculator {
    height: 700px;
    width: 500px;
    border: solid;
    border-radius: 20px;
    padding: 15px;
}

* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    font-weight: 200;
    text-align: center;
    background-color: rgb(249, 236, 255);
}


.operators {
    background-color: #e9dbff!important;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    background-color: rgb(254, 231, 255)!important;
    border-radius: 50%;
    height: 90px;
    aspect-ratio: 1;
    margin: 6px;
    border: solid;
}


button:hover {
    background-color: aliceblue !important;
}

#expression {
    border: solid;
    border-radius: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 45px;
    padding-right: 20px;
    height: 120px;
    margin: 20px;
    background-color: aliceblue;
}

#numBtns {
    padding: 15px;
}


#titleHistory {
    text-wrap: wrap;
    width: 500px;
    border-radius: 20px;

}

h1 {
    font-size: 45px;
    padding: 20px
}
#historyContainer {
    height: 700px;
    width: 500px;
}


#clearBtns {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

#clearBtns button {
    width: 225px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(255, 238, 206) !important;
}

#clearBtns button:hover {
    background-color: aliceblue !important;
}

#history {
    height: 500px;
    width: 500px;
    text-align: right;
    font-size: 24px;
    white-space: pre-line;
    overflow-y: auto;
    
}